@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
    font-family: "roboto;", sans-senif;
}
.container {
    width: 1100px;
    margin: 0 auto;
    background-color:#f6f6f6;
}
#start {
    width: 80px;
    height: 40px;
    background: orangered;
    margin-top: 10px;
    margin-left: 300px;
    color: #fafafa;
    border: 1px solid orangered;
}
#start1 {
    width: 80px;
    height: 40px;
    background: orangered;
    margin-top: 10px;
    margin-left: 300px;
    color: #fafafa;
    border: 1px solid orangered;

}


#h1 {
    margin-top: 10px;
    margin-left: 520px;
    color: red;
}
#score {
    color: #ee6666;
    margin-top: 0px;
    margin-left: 800px;
}
#myCanvas {
    border: #ee6666;
    background-color: #fddfdf;
    margin-left: 300px;
    margin-top: 10px;
}